.special {
  --site-logo: url(https://www.simbrella.com/site/templates/img/logo_colored.svg);
}
.all-vacancies {
  padding: 120px 0 40px;
  min-height: 1px;

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include betweenTwoDimension(240px, 767px) {
      display: block;
    }

    &__left-side {
      width: calc(45% - 40px);

      @include betweenTwoDimension(240px, 767px) {
        width: 100%;
      }

      &__h1 {
        padding: 0 0 32px;
        font-size: 32px;
        line-height: 1.29;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: #222;

        @include betweenTwoDimension(768px, 1023px) {
          font-size: 32px;
        }

        @include betweenTwoDimension(480px, 767px) {
          font-size: 27px;
        }

        @include betweenTwoDimension(240px, 479px) {
          padding: 0;
          font-size: 24px;
        }
      }

      &__text {
        &__p {
          padding: 0 0 20px;
          font-size: 18px;
          line-height: 1.56;
          color: #5f6773;
        }
      }
    }

    &__right-side {
      width: auto;

      @include betweenTwoDimension(240px, 767px) {
        display: none;
      }

      &__image {
        width: 460px;
      }
    }
  }
}

.positions {
  padding: 100px 0;
  background: #f6f8fe;

  @include betweenTwoDimension(480px, 1023px) {
    padding: 40px 0;
  }

  @include betweenTwoDimension(240px, 479px) {
    padding: 20px 0;
  }

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include betweenTwoDimension(240px, 767px) {
      display: block;
    }

    &__position {
      width: calc(50% - 15px);
      height: 150px;
      padding: 40px 20px;
      margin-bottom: 30px;
      background: #fff;
      border: 1px solid #ff931e;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.15s linear;
      position: relative;

      &:hover {
        background: #ff931e;
        transition: all 0.15s linear;
      }

      &:hover &__h3 {
        color: #fff;
      }

      @include betweenTwoDimension(768px, 1023px) {
        width: calc(50% - 10px);
      }

      @include betweenTwoDimension(240px, 767px) {
        width: 100%;
      }

      &__h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        color: #222;
        text-align: center;
      }

      &__link {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}
