.article {
  padding: 100px 0;
  background: #f6f8ff;

  @include betweenTwoDimension(240px, 1023px) {
    padding: 40px 0;
  }

  &__wrapper {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include betweenTwoDimension(240px, 1023px) {
      display: block;
    }

    &__left-side {
      width: 430px;
      padding: 40px 24px 60px;
      border: 1px solid #fff;
      background: #fff;
      border-radius: 4px;
      height: 429px;

      @include betweenTwoDimension(240px, 1023px) {
        width: 100%;
      }

      &__image {
        height: 230px;
        text-align: center;

        &__h3 {
          padding: 0 0 16px;
          font-size: 24px;
          line-height: 1.25;
          text-align: center;
          letter-spacing: 0.01em;
          color: #222;
        }

        &__p {
          font-size: 16px;
          line-height: 1.62;
          text-align: center;
          color: #5f6773;
        }
      }
    }

    &__right-side {
      width: calc(100% - 600px);

      @include betweenTwoDimension(1024px, 1280px) {
        width: calc(100% - 480px);
      }

      @include betweenTwoDimension(240px, 1023px) {
        width: 100%;
        padding: 30px 0 0;
      }

      &__text {
        font-size: 20px;
        line-height: 1.4;
        color: #222;

        @include betweenTwoDimension(240px, 479px) {
          font-size: 16px;
        }

        &__ul {
          list-style: none;

          &__li {
            padding: 0 0 0 21px;
            margin: 0 0 32px;
            position: relative;

            &:last-child {
              margin: 0;
            }

            &::before {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              background-color: #ff931e;
              border-radius: 50%;
              top: 10px;
              left: 1px;
            }

            @include betweenTwoDimension(240px, 479px) {
              margin: 0 0 18px;
            }
          }
        }
      }
    }
  }
}

.bc-image {
  max-height: 480px;
  min-height: 270px;
  background-image: url(https://www.simbrella.com/site/templates/img/single_image.jpg?v=2);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.bc-we-do {
  background-image: url(https://www.simbrella.com/site/templates/img/we_do_bg.jpg?v=2);
  height: 300px;
}
